/* 430/932 */

@media only screen and (max-width:450px) {
  .navbar{
    display: none !important;
  }
  #nad{
    position: fixed !important;
    left:0;
    top:0;
    z-index: 11111111111111111111;
    display: flex !important;
  background-color: rgba(26, 26, 26, 0.992);
    width: 95% ;
    /* border: 2px solid red ; */
  }

  .first-section {
    min-height: 60vh;

  }

  .first-section-f1 {
    min-height: 50vh;
    justify-content: center;
    align-items: start;
  }

  .first-section-f1 h1 {
    font-size: 45px;
  }

  .second-section {
    position: relative;
    width: 100%;
    min-height: 200vh;
  }

  .second-section-f1 {
  }

  .second-section-f1 .a-h2 {
    font-size: 65px;
  }

  .second-section-f2 {
    position: absolute;
    top: 60px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vh;
  }

  .second-section-f2 h1 {
    font-size: 55px;
  }

  .second-section-f3 {
    width: 100%;
    min-height: 50vh;
  }

  .second-section-f5 {
    display: none;
  }

  .second-section-f6 {

    width: 100%;
  }

  .second-section-f6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .four-section-f1 {
    width: 100%;
    min-height: 20vh;
  }

  .four-section {
    height: 130px;
  }

  .scrollimg {
    width: 100%;
    height: 100%;
  }

  .five-section-f6 {
    width: 100%;
    min-height: auto;
  }
  .five-section {
    width: 100%;

  }
  .five-section .a-h2 {
    width: 100%;
    font-size: 80px;
  }

  .five-section-f1 {
    position: absolute;
    top: 75px !important;
    left: 0px;
    min-height: 70px;
  }

  .deer {
    transition: .3s linear;
    padding-top: 70px;
    position: relative;
    height: 35vh;
    border: 1px solid rgb(198, 198, 198);
  }

  .six-section {
    width: 100%;
    min-height: auto;
  }

  .six-section-s1 {
    width: 100%;

    min-height: 60vh;
  }

  .six-section-s1 p {
    font-size: 13px;
  }

  .div {
    width: 100%;
    min-height: auto;
  }

  .div-d4 {
    position: relative;
  }

  .div-d3 {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 230px;
  }

  .div-d3 .a-h2 {
    font-size: 70px;
  }

  .div-d1 h1 {
    font-size: 50px;
  }

  .div-d1 {
    position: absolute;
    top: 60px;
    left: 0;
  }

  .div-d2 {
    padding: 15px 15px;
  }

  .seven-section {
    width: 100%;
    min-height: 80vh;
  }

  .seven-section-s1 {
    width: 100%;
    min-height: 200px;
  }

  .seven-section-s1 .a-h2 {
    font-size: 64px;
  }

  .seven-section-s2 {
    position: absolute;
    left: 0;
    top: 50px;
  }

  .seven-section-s3 {
    width: 90%;
    min-height: 180px;
  }

  .eight-section {
    width: 100%;
    min-height: 100vh;
  }

  .eight-section-e2 {
    min-height: 30vh;
  }
}


@media only screen and (max-width:600px) {
  .first-section {
    min-height: 60vh;

  }.navbar{
display: none !important;
  }

  #nad{
    position: fixed !important;
    left:0;
    top:0;
    z-index: 11111111111111111111;
    display: flex !important;
  background-color: rgba(26, 26, 26, 0.992);
    width: 90% ;
    /* border: 2px solid red ; */
  }
  .first-section-f1 {
    min-height: 50vh;
    justify-content: center;
    align-items: start;
  }


  .second-section {
    position: relative;
    width: 100%;
    min-height: 200vh;
  }

 

  .second-section-f1 .a-h2 {
    font-size: 65px;
  }

  .second-section-f2 {
    position: absolute;
    top: 60px;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vh;
  }

  .second-section-f2 h1 {
    font-size: 55px;
  }

  .second-section-f3 {
    width: 100%;
    min-height: 50vh;
  }

  .second-section-f5 {
    display: none;
  }

  .second-section-f6 {

    width: 100%;
  }

  .second-section-f6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




  .four-section-f1 {
    width: 100%;
    min-height: 20vh;
  }

  .four-section {
    height: 130px;
  }

  .scrollimg {
    width: 100%;
    height: 100%;
  }

  .five-section-f6 {
    width: 100%;
    min-height: auto;
  }

  .five-section .a-h2 {
    width: 100%;
    font-size: 80px;
  }

  .five-section-f1 {
    position: absolute;
    top: 75px !important;
    left: 0px;
    min-height: 70px;
  }

  .deer {
    transition: .3s linear;
    padding-top: 70px;
    position: relative;
    height: 35vh;
    border: 1px solid rgb(198, 198, 198);
  }

  .six-section {
    width: 100%;
    min-height: auto;
  }

  .six-section-s1 {
    width: 100%;

    min-height: 60vh;
  }

  .six-section-s1 p {
    font-size: 13px;
  }

  .div {
    width: 100%;
    min-height: auto;
  }

  .div-d4 {
    position: relative;
  }

  .div-d3 {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 230px;
    /* border: 2px solid black; */
  }

  .div-d3 .a-h2 {
    font-size: 70px;
  }

  .div-d1 h1 {
    font-size: 50px;
  }

  .div-d1 {
    position: absolute;
    top: 60px;
    left: 0;
  }

  .div-d2 {
    padding: 15px 15px;
  }

  .seven-section {
    width: 100%;
    min-height: 80vh;
  }

  .seven-section-s1 {
    width: 100%;
    min-height: 200px;
  }

  .seven-section-s1 .a-h2 {
    font-size: 64px;
  }

  .seven-section-s2 {
    position: absolute;
    left: 0;
    top: 50px;
  }

  .seven-section-s3 {
    width: 90%;
    min-height: 180px;
  }

  .eight-section {
    width: 100%;
    min-height: 100vh;
  }

  .eight-section-e2 {
    min-height: 30vh;
  }

}

@media only screen and (max-width:1035px) {
  .first-section {
    min-height: 60vh;

  }

  .first-section-f1 {
    min-height: 50vh;
    justify-content: center;
    align-items: start;
  }


  .second-section {
    position: relative;
    width: 100%;
    min-height: 200vh;
  }

  .second-section-f1 {
    min-height: 150px;
  }

  .second-section-f1 .a-h2 {
    font-size: 65px;
  }

  .second-section-f2 {
    position: absolute;
    top: 60px;
    /* left: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vh;
  }

  .second-section-f2 h1 {
    font-size: 55px;
  }
  .second-section-f2 p{
    display: none;
  }

  .second-section-f3 {
    width: 100%;

    min-height: 40vh;
  }
.second-section-f4{
  gap: 16px;
}
  .second-section-f5 {
    display: none;
  }

  .second-section-f6 {

    width: 100%;
  }

  .second-section-f6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.third-section {
  width: 100%;
  min-height: 55vh;
}
.third-section-t2{
  padding: 0;
} 

  .four-section-f1 {
    width: 100%;
    min-height: 20vh;
  }

  .four-section {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scrollimg  img{
    width: 100% ;
    min-height: 100%;
    object-fit: contain;
    
  }
  .scrollimg{
    width: 40%;
    height: 100%;
  }

  .five-section-f6 {
    width: 100%;
    min-height: auto;
  }

  .five-section .a-h2 {
    width: 100%;
    font-size: 80px;
  }

  .five-section-f1 {
    position: absolute;
    top: 75px !important;
    left: 0px;
    min-height: 70px;
  }
  .deer-section {
    width: 100%;
    min-height: auto;
  }
.dfss{
  min-height: auto;
}
  .deer {
    transition: .3s linear;
    padding-top: 70px;
    position: relative;
    height: 39vh;
    border: 1px solid rgb(198, 198, 198);
  }

  .six-section {
    width: 100%;
    min-height: auto;
  }

  .six-section-s1 {
    width: 120%;

    min-height: 60vh;
  }

  .six-section-s1 p {
    font-size: 13px;
  }

  .div {
    /* border: 2px solid gray; */
    width: 100%;
    min-height: auto;
  }

  .div-d4 {
    position: relative;
  }

  .div-d3 {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 230px;
    /* border: 2px solid black; */
  }

  .div-d3 .a-h2 {
    font-size: 70px;
  }
  .div-d1 h1 {
    font-size: 50px;
  }

  .div-d1 {
    position: absolute;
    top: 60px;
    left: 0;
  }

  .div-d2 {
    padding: 15px 15px;
  }

  .seven-section {
    width: 100%;
    min-height: 60vh;
    /* border: 2px solid blue; */
  }

  .seven-section-s1 {
    width: 100%;
    min-height: 200px;
    position: relative ;
    display: flex ;
    justify-content: start
    ;
    align-items: start;
    /* border: 2px solid red; */
  }

  .seven-section-s1 .a-h2 {
    font-size: 64px;
  }

  .seven-section-s2 {
    position: absolute;
    left: 0;
    top: 80px;
    /* min-height: auto; */

  }

  .seven-section-s3 {
    width: 90%;
    min-height: 180px;
  }

  .eight-section {
    width: 100%;
    min-height: 70vh;
    /* border: 5px solid rgb(0, 153, 255); */
  }

  .eight-section-e2 {
    /* border: 2px solid red; */
    min-height: 30vh;
    display: flex;
    justify-content: start;
    align-items: start;
  }
}